{% extends 'base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block main %}
    <div class="custom-center-block">
        <p class="custom-text-block">Ссылка на восстановление пароля отправлена</p>
        <p class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</p>
        <div class="custom-button-block">
            <form action="{% url 'index' %}">
                <button class="button button_style_blue">Перейти на главную</button>
            </form>
        </div>
    </div>
{% endblock %}