{% extends 'base.html' %}
{% load user_filters %}

{% block title %}Новый пароль{% endblock %}

{% block link %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block main %}
{% if validlink %}
    <div class="main__header">
        <h1 class="main__title">Введите новый пароль</h1>
    </div>
    <div class="form-container">
        <form class="form" method="post">
            {{ form.non_field_errors }}
            {% csrf_token %}
            {% for field in form %}
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        {{ field|addclass:"form__input" }}
                        {% if field.help_text %}
                            <span class="form__input-info">{{ field.help_text|striptags|linebreaks }}</span>
                        {% endif %}
                        {% for error in field.errors %}
                            <span class="form__error">{{ error|escape }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
                <div class="form__footer">
                    <button type="submit" class="button button_style_blue">Изменить пароль</button>
                </div>
        </form>
    </div>
{% else %}
    <div class="custom-center-block">
        <p class="custom-text-block">Ошибка!</p>
        <p class="custom-text-block">Ссылка сброса пароля содержит ошибку или устарела.</p>
        <div class="custom-button-block">
            <form action="{% url 'index' %}">
                <button class="button button_style_blue">Перейти на главную</button>
            </form>
        </div>
    </div>
{% endif %}
{% endblock %}